.erp_data{
	font-size: 3em;
	font-weight: 700;
	font-family: verdana;
	color: red;
	width:50%;
	margin: auto;
}
.info_box {
	width:70%;
	height:30%;
	border: 3px dashed red;
	margin: auto;
	padding: 20px;
	border-radius: 30px;
}
.bxicon, .dt {
	text-align: center;
}
.bxicon .fas {
	font-size:6em;
	color: #0E3F7D;
}
.wrapper {padding-top:50px !important;}